* {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: dark;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vmin;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.shotsInfo {
  color: yellow;
  font-size: 18rem;  
}

.drinkTable {
  border-spacing: 2rem;
}

.drinkTable td, .drinkTable input {
  font-size: 4rem;
}

.drinkTable input.newDrinkCount {
  width: 2.5em;
}

.drinkTable input.newDrinkName {
  width: 9em;
}

.drinkTable input.newDrinkVolumeMl {
  width: 3em;
}

.drinkTable input.newDrinkAlcoholPercentage {
  width: 3em;
}

.drinkTable > thead th {
  font-size: 5rem;
  text-align: start;
}

.drinkTable > tfoot .newDrinkAddWrapper {
  display: flex;
  justify-content: center;
}

.newDrinkAdd {
  font-size: 4rem;
  padding: 2rem;
}

.version {
  position: fixed;
  font-size: 4rem;
  bottom: 0.2em;
  right: 0.5em;
}
